* {
  box-sizing: border-box;
  list-style: none;
}
h1{
   text-align: center;
   text-shadow: 1px 1px teal;
   text-decoration: underline;
}
h2{
  text-decoration: underline;
}
form{
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
body{
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(228, 226, 226);
  color: teal;
}
.movies{
  margin-bottom: 10px;
  display: flex;
}
label{
  text-shadow: .25px .25px teal;
  margin-right: 5px;
  display: inline-flex;
 }
#search{
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  color: teal;
}
.button {
  border-color: teal;
  background-color: teal;
  padding: auto;
  color: white;
  border-radius: 2px; 
}

button:hover {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}

#results-list li:nth-child(odd) {
  
}
a {
  color: teal;
}
a:hover{
  cursor: pointer;
}
dl {
  overflow: hidden;
  border-bottom: 2px teal solid;
  padding: 1em 20px 2em;
}

dt {
  display: inline-block;
  float: left;
  width: 100px;
  clear: left;
  margin: 0 1em 0 0;
  padding: 0;
}

dd {
  float: left;
  margin: 0;
  padding: 0;
}
